.data-map {
  height: 800px;
  width: 100%;
}

.bubbles {
  box-shadow: 0 42px 112px 0 rgba(240, 244, 253, 0.25), 0 30px 42px 0 rgba(156, 154, 154, 0.22) !important;
}

.hoverinfo {
  -moz-transition: all .2s linear;
  transition: all .2s linear;
  background: #fff;
  border-radius: 6px !important;
  border: none !important;
  padding: 20px !important;
  box-shadow: 0 42px 112px 0 rgba(240, 244, 253, 0.25), 0 30px 42px 0 rgba(156, 154, 154, 0.22) !important;
  h3 {
    font-weight: 700;
    font-size: 16px;
    color: #424770;
    display: inline-block;
    margin: 0 0 10px 0;
    img {
      border-radius: 1px;
      display: inline-block;
      margin-left: 5px;
      width: 20px;
    }
  }
  p {
    font-size: 16px;
    color: #424770;
    letter-spacing: 0;
    margin: 0 0 10px 0;
    line-height: 25px;
    b {
      white-space: nowrap;
      font-size: 14px;
    }
  }
  ul {
    padding: 0;
    margin: 0;
    li {
      list-style: none;
      display: block;
      color: #424770;
      font-size: 16px;
      padding: 0 0 10px 0;
    }
  }
}
