.data-map {
  height: 800px;
  width: 100%;
}

//.bubbles {
//  background: #7272e9;
//  background: rgba(114, 114, 233, .7);
//  border-radius: 100%;
//  -webkit-animation: pulse 2.5s linear;
//  -moz-animation: pulse 2.5s linear;
//  animation: pulse 2.5s linear;
//  -webkit-animation-iteration-count: infinite;
//  -moz-animation-iteration-count: infinite;
//  animation-iteration-count: infinite;
//  height: 49px;
//  width: 49px;
//  position: absolute;
//  top: -18px;
//  left: -18px;
//  margin: auto;
//  z-index: 1;
//  opacity: 0;
//}

.hoverinfo {
  -moz-transition: all .2s linear;
  transition: all .2s linear;
  background: #fff;
  border-radius: 6px !important;
  border: none !important;
  // width: 350px !important;
  padding: 20px !important;
  box-shadow: 0 42px 112px 0 rgba(240, 244, 253, 0.25), 0 30px 42px 0 rgba(156, 154, 154, 0.22) !important;
  h3 {
    font-weight: 700;
    font-size: 16px;
    color: #424770;
    display: inline-block;
    margin: 0 0 10px 0;
    img {
      border-radius: 1px;
      display: inline-block;
      margin-left: 5px;
      width: 20px;
    }
  }
  p {
    font-size: 16px;
    color: #424770;
    letter-spacing: 0;
    margin: 0 0 10px 0;
    line-height: 25px;
    b {
      white-space: nowrap;
      font-size: 14px;
    }
  }
  ul {
    padding: 0;
    margin: 0;
    li {
      list-style: none;
      display: block;
      color: #424770;
      font-size: 16px;
      padding:0 0 10px  0 ;
    }
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(0);
    opacity: 0;
  }
  50% {
    -webkit-transform: scale(.4);
    opacity: .5;
  }
  100% {
    -webkit-transform: scale(.7);
    opacity: 0;
  }
}