<nav class="top-menu" data-spy="affix" data-offset-top="100">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand navbar-brand-logo" href="/">
                <img class="main-logo" src="/images/logo.svg" alt="AppsCode. {{ .Site.Params.description }}">
                <img class="affix-logo" src="/images/logo-color.svg" alt="AppsCode. {{ .Site.Params.description }}">
            </a>
        </div>
        <div class="collapse navbar-collapse navbar-list" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                {{ $currentNode := . }}
                {{ range .Site.Menus.main }}

                  {{ if .HasChildren }}
                    <li class="dropdown {{ if $currentNode.IsMenuCurrent "main" . }} active {{end}}">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ .Name }}<span class="caret"></span></a>
                        <ul class="dropdown-menu {{ if $currentNode.IsMenuCurrent "main" . }} open {{ end }}">

                            {{ range .Children }}
                            <li {{ if $currentNode.IsMenuCurrent "main" . }} class="active" {{ end }}>
                                <a href="{{ .URL }}">{{ .Name }}</a>
                            </li>
                            {{ end }}

                        </ul>
                    </li>
                  {{else}}
                    <li>
                      <a class="{{if or ($currentNode.IsMenuCurrent "main" .) (eq (lower $currentNode.Section) (lower .Name)) }}  {{end}}" href="{{.URL}}">{{ .Pre }}{{ .Name }}</a>
                    </li>
                  {{ end }}
                {{end}}
            </ul> <!-- top menu end-->
        </div> <!-- /.navbar-collapse -->
    </div> <!-- /.container-fluid -->
</nav>
