
#top-header {
  background: url(https://cdn.appscode.com/images/10.svg) no-repeat scroll center center/cover border-box, -webkit-linear-gradient(30deg, $gradient-a 0, $gradient-b 100%) no-repeat scroll center center/cover;
  height: 450px;
  .header {
    padding: 80px 0;

    h1 {
      font-size: 30px;
      line-height: 40px;
      margin-bottom: 15px;
      font-weight: 700;
      color: $white;
      text-transform: capitalize;
      letter-spacing: 1px;
    }

    > p {
      line-height: 33px;
      letter-spacing: 1px;
      font-weight: 500;
      font-size: 18px;
      color: $white;
    }
  }
}


// inner-header

#inner-header {
  background: url(https://cdn.appscode.com/images/10.svg) no-repeat scroll center center/cover border-box, -webkit-linear-gradient(30deg, $gradient-a 0, $gradient-b 100%) no-repeat scroll center center/cover;
  .header {
    padding: 80px 0;
    h1 {
      font-size: 30px;
      line-height: 40px;
      margin-bottom: 15px;
      font-weight: 700;
      color: $white;
      text-transform: capitalize;
      letter-spacing: 1px;
    }
    p {
      line-height: 33px;
      letter-spacing: 1px;
      font-weight: 500;
      font-size: 18px;
      color: $white;
    }
  }
}