<style>
    .inner-slider{
        background: url(/images/products/header.svg) no-repeat scroll center center/cover border-box, -webkit-linear-gradient(30deg, #1d72da 0%, #0066b7 100%) no-repeat scroll center center/cover !important;
    }
</style>

{{ partial "header.html" .}}
<div class="inner-slider">
    <!-- Menu Bar -->
    <div class="top-nav-area" data-offset-top="20" data-spy="affix">
        {{ partial "menu.html" . }}
    </div>
    <!-- /End of top-nav-area container -->
    <!-- Start of Slider Area -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="inner-banner">
                    <h1>{{ title (default .Title (index .Params "header")) }}</h1>
                    <p>{{ $.Param "description" }}</p>
                </div>
            </div>
        </div>
    </div>
    <!-- /End of Slider Area -->
</div>
<!-- /End of Home Section -->
<section class="list-single-content">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-2 col-md-8">
                <script>
                    (function() {
                      var cx = '015199383701854252104:8mvwy0fek2e';
                      var gcse = document.createElement('script');
                      gcse.type = 'text/javascript';
                      gcse.async = true;
                      gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
                      var s = document.getElementsByTagName('script')[0];
                      s.parentNode.insertBefore(gcse, s);
                    })();
                </script>
                <gcse:search></gcse:search>
            </div>
        </div>
    </div>
</section>

<!-- ./ default-content -->
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-offset-2 col-md-8 text-center">
                {{ partial "share.html" . }}
                <br><br>
                {{ partial "subscribers.html" . }}
            </div>
        </div>
    </div>
</section>
{{ partial "footer.html" . }}
